Dockerfile*
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
out
build
coverage
.git
.gitignore
.env*.local
*.pem
*.tsbuildinfo
.vscode
.idea
README.md
